@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
* {
  font-family: "Sniglet", cursive;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.Link {
  text-decoration: none;
}
